doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/typeahead.bundle.min.js")
    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js")
    script(src="/javascripts/elastic.js")
